@charset "utf-8";

@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    display: block;
    color: #333;
    text-decoration: none;
}
body {
    min-width: 1200px;
    font-family: 'Song Myung', serif;
    overflow-x: hidden;
}
.inner {
    width: 1200px; margin: 0 auto;
}

/* 레이아웃 */
#wrap {
    width: 100%;
    position: relative;
}
#header {
    z-index: 10;
    width: 50%;
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
}
section {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    box-sizing:content-box;
}

/* nav */
.menu {
    width: 100%;
    height: 100%;
}
.menu ul {
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li a {
    font-size: 30px;
    color:  #FFF;
    position: relative;
}
.menu ul li.active a:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 0;
    background: url(../img/star.png);
}

/* content1 */
#content1 {
    background: #08122C;
    position: relative;
}
#content1 h1 {
    color: #FFF;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

/* 별똥별 애니메이션 */
.night {
    position: relative;
    width: 50%;
    height: 50%;
    top: -150px;
    transform: rotateZ(45deg);
  }
.night.right {
    right: -1000px;
    top: -700px;
}
.shooting_star {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.night .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }
.night  .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
.night .shooting_star:nth-child(1) {
    top: calc(50% - -105px);
    left: calc(50% - 23px);
    -webkit-animation-delay: 623ms;
            animation-delay: 623ms;
}
.night .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 623ms;
            animation-delay: 623ms;
}
.night .shooting_star:nth-child(2) {
    top: calc(50% - 134px);
    left: calc(50% - 48px);
    -webkit-animation-delay: 9111ms;
            animation-delay: 9111ms;
}
.night .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 9111ms;
            animation-delay: 9111ms;
}
.night .shooting_star:nth-child(3) {
    top: calc(50% - -93px);
    left: calc(50% - 270px);
    -webkit-animation-delay: 5324ms;
            animation-delay: 5324ms;
}
.night .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 5324ms;
            animation-delay: 5324ms;
}
  

.night.right .shooting_star:nth-child(1) {
        top: calc(50% - 87px);
        left: calc(50% - 262px);
        -webkit-animation-delay: 4214ms;
                animation-delay: 4214ms;
}
.night.right .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
        -webkit-animation-delay: 4214ms;
                animation-delay: 4214ms;
}
.night.right .shooting_star:nth-child(2) {
        top: calc(50% - -2px);
        left: calc(50% - 148px);
        -webkit-animation-delay: 3228ms;
                animation-delay: 3228ms;
}
.night.right .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
        -webkit-animation-delay: 3228ms;
                animation-delay: 3228ms;
} 
@-webkit-keyframes tail {
    0% {
    width: 0;
    }
    30% {
    width: 100px;
    }
    100% {
    width: 0;
    }
}
@keyframes tail {
    0% {
    width: 0;
    }
    30% {
    width: 100px;
    }
    100% {
    width: 0;
    }
}
@-webkit-keyframes shining {
    0% {
    width: 0;
    }
    50% {
    width: 30px;
    }
    100% {
    width: 0;
    }
}
@keyframes shining {
    0% {
    width: 0;
    }
    50% {
    width: 30px;
    }
    100% {
    width: 0;
    }
}
@-webkit-keyframes shooting {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(300px);
    }
}
@keyframes shooting {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(300px);
    }
}
@-webkit-keyframes sky {
    0% {
    transform: rotate(45deg);
    }
    100% {
    transform: rotate(405deg);
    }
}
@keyframes sky {
    0% {
    transform: rotate(45deg);
    }
    100% {
    transform: rotate(405deg);
    }
}

/* parallax */
.parallax-wrap {
    width: 100%;  
    margin: 0; 
    padding: 0; 
    z-index: 10;
}
.parallax {
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0%;
    bottom: 0; 
    perspective: 100px;
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100vh; 
}
.parallax::-webkit-scrollbar-track {
    border-radius: 10px; 
    background-color: transparent;
}
.parallax::-webkit-scrollbar{
    width: 1px;
    background-color: transparent;
}
.parallax::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: transparent;
}
.parallax_layer {
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0;  
}
.parallax_layer img {
    position: absolute; 
    bottom: 0;
    display: block; 
}
.parallax__layer:nth-of-type(6) {
    transform: translateZ(-150px) scale(2.5);
}
.parallax_layer:nth-of-type(5) {
    transform: translateZ(-200px) scale(3);
    animation: shake 3s ease none infinite;
    
}
@keyframes shake {
    0% {top: -100px;}
    50% {top: -150px;}
    100%{top: -100px;}
}
.parallax_layer:nth-of-type(4) {
    transform: translateZ(-250px) scale(3.5);  
}
.parallax_layer:nth-of-type(3) {
    transform: translateZ(-300px) scale(4) translateY(-100px);
}
.parallax_layer:nth-of-type(2) {
    transform: translateZ(-300px) scale(4);
}
.parallax_content {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
    height: 1000px;
    background: url(../img/content1/star.png), #08122C; 
    transform: translateZ(0); 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
   
}
.parallax_content .illust {
    position: relative;
    width: 300px;
    height: 300px;
    background: url(../img/content1/illust.png) no-repeat;
    animation: shake 3s ease none infinite;
    background-size: cover;
}
.parallax_content p {
    font-size: 40px;
}
.parallax_content p span {
    font-size: 50px;
}

/* content2 */
#content2 {
    background: linear-gradient( to bottom,  #08122C, #2f0b2b);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
h2 {
    font-size: 150px;
    color: #FFF;
    font-family: 'Dancing Script', cursive;
}
#content2 .inner {
    height: 1000px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.project {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}


/* explain swiper */
.explain.swiper-container {
    width: 35%;
    height: 100%;
}
.explain .swiper-slide {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    flex-direction: column;
    text-align: right;
    padding-right: 20px;
}
.explain h3 {
    font-size: 60px;
    margin: 50px 0 20px;
}
.explain p {
    text-align: right;
    font-size: 25px;
    margin: 30px 0;
}
.shortCut a {
    background: #FFF;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    width: 100px;
    margin-top: 30px;
}
.shortCut .ex {
    width: 100%;
}
.ex button {
    padding: 10px;
    border-radius: 50px;
    background: none;
    color: #FFF;
    border: 1px dashed #FFF;
    font-size: 15px;
    margin: 5px;
}
.ex button:hover {
 background: #FFF;
 color: #333;
}

/* view swiper */
.view.swiper-container {
    width: 50%;
    height: 85%;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.view .swiper-slide {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-end;
    height: 600px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.view .swiper-slide img {
    display: block;
    width: 100%;
}
.view.mobile {
    position: absolute;
    right: 0;
    top: 250px;
    width: 18%;
    height: 65%;
}
.view .swiper-slide.mview {
    height: 450px;
    width: 100%;
}
.project .pj1M {
    width: 15%;
    height: 400px;
    position: absolute;
    top: 500px;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 30px;
}
.navigation {
    position: relative;
    left: -800px;
    top: 243px;
    display: flex;
    z-index: 1;
}
.navigation .prev {
    margin-right: -1px;
}
.btn {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #FFF;
    text-align: center;
}
.btn .fas {
    font-size: 30px;
    color: #FFF;
    line-height: 50px;
}


/* wave 파도물결효과 */
.waveWrap {
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.rock {
    background: url(../img/content1/rock.png) no-repeat bottom;
    position: relative;
    top: -40px;
    width: 100%;
    height: 100%;
}
.wave {
    background: url(../img/content2/wave.svg) repeat-x;
    position: absolute;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.wave.w01 {
    top: 45px;
    left: 100px;
}
.wave.w02 {
    top: 60px;
    left: -250px;
}
.wave.w03 {
    top: 100px;
    left: -600px;
}
@-webkit-keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
}
@keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
}
@-webkit-keyframes swell {
    0%, 100% {transform: translate3d(0, -25px, 0);}
    50% {transform: translate3d(0, 5px, 0);}
}
@keyframes swell {
    0%, 100% {transform: translate3d(0, -25px, 0);}
    50% {transform: translate3d(0, 5px, 0);}
}
.illust2 {
    background: url(../img/content2/illust2.png) no-repeat;
    display: inline-block;
    width: 360px;
    height: 147px;
    position: absolute;
    left: 0;
    animation: shake2 3s ease none infinite;
    margin-top: 150px;
}
@keyframes shake2 {
    0% {top: -100px; transform:rotate(0);}
    50% {top: -70px; transform: rotate(-5deg);}
    100% {top: -100px; transform:rotate(0);}
}




/* content3 */
#content3 {
    background:linear-gradient(to bottom, #6fadc4, #76b2c5, #6c7fde);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;  
}
.bottle_btn {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content3 .bottle {
    background: url(../img/content3/bottle.svg) no-repeat;
    animation: bottle2 3s ease backwards infinite;
    width: 79px;
    height: 111px;
    transform: rotate(-26deg);
    text-align: center;
    cursor: pointer;
}
@keyframes bottle2 {
    0% {transform: rotate(-41deg);}
    50% {transform: rotate(-11deg);}
    100% {transform: rotate(-41deg);}
}


.click {
    font-size: 30px;
    margin-top: 20px;
    background: rgba(255,255,255,0.5);
    padding: 10px 20px;
    border-radius: 30px;
    position: relative;
}
.click:after {
    content: '';
    position: absolute;
    left: 43px;
    top: -10px;
    width: 0px;
    height: 0px;
    border-bottom:10px solid rgba(255,255,255,0.5);
    border-right: 10px solid transparent;
    border-left: 10px solid  transparent;
}
.bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg .bg_layer {
    position: absolute;
    left: 0;
    bottom: 0;
}
.bg .bg_layer img {
    display: block;
}

#content3 .inner {
    background: url(../img/content3/aboutbox.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0;
    position: absolute;
    transform: translate(0px, -50%);
    top: 50%;
    left: 100%;
    transition: all 2s;
}
#content3 .inner.on {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s;
}
#content3 h2 {
    opacity: 0.5;
}
.aboutBox {
    width: 100%;
    height: 800px;
    font-size: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.aboutBox_btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.introduction a {
    border-bottom: 1px dashed #FFF;
    width: 199px;
    /* border-radius: 20px; */
    padding: 5px;
    font-size: 18px;
}
.introduction a:hover {
    color: #FFF;
}
.close {
    cursor: pointer;
    display: inline-block;
}
.close i {
    font-size: 30px;
    color: #333;
}
.box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 .thum {
    width: 146px;
    height: 197px;
    background: url(../img/content3/thum.png) center no-repeat;
}
.box1 span {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.box2 > div {
    width: 47%;
}
.box2 > div:last-child {
    width: 100%;
}
.box2 p {
    padding-left: 30px;
    margin-top: 20px;
}
.box2 .EDUCATION {
    margin-right: 6%;
    height: 40%;
}
.box2 .LICENSE {
    height: 40%;
}
.SKILL > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 85%;
}
.SKILL > div > div {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.SKILL div div img {
    width: 100%;
}
.number {
    font-size: 50px;
}

/* content4 */
#content4 {
    background:linear-gradient(to bottom, #6c7fde, #25d7ec);
    position: relative;
}
#content4 .inner {
    position: relative;
    height: 100%;
}
#content4 h2 {
    position: absolute;
    top: 550px;
}
.message {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    background: #FFF;
    z-index: 10;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.message.on {
    transition: all 0.4s;
    width: 600px;
    height: 350px;
    border-radius: 30px;
    background: rgba(255,255,255,.5);
}
.message .letter {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/content4/letter.svg) no-repeat;
    cursor: pointer;
}
.message:hover .letter {
    background: url(../img/content4/letter-open.svg) no-repeat;
}
.message .close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 15;
}
.contact {
    display: none;
    font-size: 35px;
    text-align: center;
}
.contact a {
    margin-bottom: 50px;
}
.contact a:last-child {
    margin-bottom: 0;
}
#content4 .bg_layer:nth-child(2) {
    animation: wave2 3.5s ease none infinite;
    opacity: 0;
}
#content4 .bg_layer:nth-child(4) {
    animation: wave3 3s ease none infinite;
    opacity: 0;
}

#content4 .bg_layer:nth-child(9) {
    bottom: -10px;
}
#content4 .bg_layer:nth-child(10) {
    left: -100px;
    bottom: 50px;
}

@keyframes wave2 {
    10% { bottom : -10px; opacity: .2;}
    20% { bottom : -15px; opacity: .4;}
    30% { bottom : -20px; opacity: .6;}
    40% { bottom : -25px; opacity: .8;}
    50% { bottom : -30px; opacity: 1;}
    60% { bottom : -35px; opacity: 1;}
    70% { bottom : -40px; opacity: 1;}
    80% { bottom : -45px; opacity: .7;}
    90% { bottom : -50px; opacity: .3;}
    100% { bottom : -55px; opacity: 0;}
}
@keyframes wave3 {
    10% { bottom : -15px; opacity: .3;}
    20% { bottom : -20px; opacity: .6;}
    30% { bottom : -25px; opacity: 1;}
    40% { bottom : -30px; opacity: 1;}
    50% { bottom : -35px; opacity: 1;}
    60% { bottom : -40px; opacity: .8;}
    70% { bottom : -45px; opacity: .6;}
    80% { bottom : -50px; opacity: .4;}
    90% { bottom : -55px; opacity: .2;}
    100% { bottom : -60px; opacity: 0;}
}