@charset "utf-8";

@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    display: block;
    color: #333;
    text-decoration: none;
}


body {
    height: 200vh;
    /* font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Song Myung', serif;
    overflow-x: hidden;
}
.inner {
    width: 1200px; margin: 0 auto;
}


/* 레이아웃 */
#wrap {
    width: 100%;
    position: relative;
}
#header {
    z-index: 10;
    width: 50%;
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
}
section {
    width: 100%;
    height: 100vh;
}

/* nav */
.menu {
    width: 100%;
    height: 100%;
}
.menu ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li a {
    font-size: 30px;
    color:  #FFF;
}

/* content1 */
#content1 {
    background: #08122C;
    height: 1200px;
    position: relative;
}
#content1 h1 {
    color: #fff;
    font-size: 80px;
    font-style: normal;
    position: absolute;
    left: 15%;
    top: 50%;
    z-index: 15;
}

/* 별똥별 애니메이션 */
.night {
    position: relative;
    width: 50%;
    height: 50%;
    transform: rotateZ(45deg);
  }
  .night.right {
      right: -1000px;
      top: -700px;
  }
  
  .shooting_star {
    position: absolute;
    left: 0;
    top: 0;

    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(50% - -105px);
    left: calc(50% - 23px);
    -webkit-animation-delay: 623ms;
            animation-delay: 623ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 623ms;
            animation-delay: 623ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - 134px);
    left: calc(50% - 48px);
    -webkit-animation-delay: 9111ms;
            animation-delay: 9111ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 9111ms;
            animation-delay: 9111ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(50% - -93px);
    left: calc(50% - 270px);
    -webkit-animation-delay: 5324ms;
            animation-delay: 5324ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 5324ms;
            animation-delay: 5324ms;
  }
  

.night.right .shooting_star:nth-child(1) {
    top: calc(50% - 87px);
    left: calc(50% - 262px);
    -webkit-animation-delay: 4214ms;
            animation-delay: 4214ms;
  }
  .night.right .shooting_star:nth-child(1)::before, .shooting_star:nth-child(18)::after {
    -webkit-animation-delay: 4214ms;
            animation-delay: 4214ms;
  }
  .night.right .shooting_star:nth-child(2) {
    top: calc(50% - -2px);
    left: calc(50% - 148px);
    -webkit-animation-delay: 3228ms;
            animation-delay: 3228ms;
  }
  .night.right .shooting_star:nth-child(2)::before, .shooting_star:nth-child(19)::after {
    -webkit-animation-delay: 3228ms;
            animation-delay: 3228ms;
  } 
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }

/* parallax */
.parallax-wrap {
    width: 100%;  
    margin: 0; 
    padding: 0; 
    z-index: 10;
}
.parallax {
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0%;
    bottom: 0; 
    perspective: 100px;
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100vh; 
}
.parallax::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px; 
    background-color: transparent;
}
.parallax::-webkit-scrollbar{
    width: 1px;
    background-color: transparent;
}
.parallax::-webkit-scrollbar-thumb{
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: transparent;
}
.parallax_layer {
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0;  
}
.parallax_layer img {
    position: absolute; 
    width: 100%;
    bottom: 0;
    display: block; 
}
.parallax__layer:nth-of-type(6) {
    transform: translateZ(-150px) scale(2.5);
}
.parallax_layer:nth-of-type(5) {
    transform: translateZ(-200px) scale(3);
    animation: bottle 3s ease none infinite;
}
@keyframes bottle {
    0% {top: -100px;}
    50% {top: -150px;}
    100%{top: -100px;}
}
.parallax_layer:nth-of-type(4) {
    transform: translateZ(-250px) scale(3.5);  
}
.parallax_layer:nth-of-type(3) {
    transform: translateZ(-300px) scale(4.5) translateY(-100px);
}
.parallax_layer:nth-of-type(2) {
    transform: translateZ(-400px) scale(3);
}
.parallax_content {
    position: absolute; 
    top: 100%; 
    left: 0;
    right: 0;
    height: 2000px;
    background: #08122C; 
    transform: translateZ(0); 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.parallax_content .illust {
    width: 410px;
    height: 408px;
    background: url(../img/illust.png) no-repeat;
}
.parallax_content p {
    font-size: 40px;
}
.parallax_content p span {
    font-size: 50px;
}



/* content2 */
#content2 {
    /* background: #76b2c5; */
    background: linear-gradient( to bottom,  #2f0b2b, #5a466d, #FFF);
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#content2 .inner {
    height: 10000px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.project {
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: 100px;
}
.project h2 {
    font-size: 150px;
    font-style: italic;
    position: absolute;
    top: 0;
    left: -350px;
    /* display: none; */
    opacity: 0.4;
    color: #fff;
}

/* explain swiper */
.explain.swiper-container {
    width: 35%;
    height: 100%;
}
.explain .swiper-slide {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    flex-direction: column;
    text-align: right;
    padding-right: 20px;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}
.explain h3 {
    font-size: 60px;
    margin: 50px 0 20px;
}
.explain p {
    text-align: right;
    font-size: 25px;
    margin: 30px 0;
}
.shortCut a {
    background: #FFF;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    width: 100px;
    margin-top: 50px;
}
.shortCut .ex {
    width: 100%;
}
.ex button {
    padding: 10px;
    border-radius: 50px;
    background: none;
    color: #FFF;
    border: 1px dashed #FFF;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}
.ex button:hover {
 background: #FFF;
 color: #333;
}

/* view swiper */
.view.swiper-container {
    width: 50%;
    height: 85%;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.view .swiper-slide {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-end;
    height: 600px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.view .swiper-slide img {
    display: block;
    width: 100%;
}
.view.mobile {
    position: absolute;
    right: 0;
    top: 250px;
    width: 18%;
    height: 65%;
}
.view .swiper-slide.mview {
    height: 450px;
    width: 100%;
}
.project .pj1M {
    width: 15%;
    height: 400px;
    position: absolute;
    top: 500px;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 30px;
}
.navigation {
    position: relative;
    left: -800px;
    top: 243px;
    display: flex;
    z-index: 1;
}
.navigation .prev {
    margin-right: -1px;
}
.btn {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #FFF;
    text-align: center;
}
.btn .fas {
    font-size: 30px;
    color: #FFF;
    line-height: 50px;
}


/* wave 효과 */
.waveWrap {
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #76b2c5;
}
.rock {
    background: url(../img/content1bg/rock.png) no-repeat bottom;
    position: relative;
    top: -250px;
    width: 100%;
    height: 100%;
}
.wave {
    background: url(../img/wave.svg) repeat-x;
    position: absolute;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.wave.w01 {
    top: -150px;
    left: -260px;
    opacity: 1;
}
.wave.w02 {
    top: -130px;
    left: -550px;
    opacity: 1;
}
.wave.w03 {
    top: -70px;
    opacity: 1;
}
@-webkit-keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
}
@keyframes wave {
    0% {margin-left: 0;}
    100% {margin-left: -1600px;}
}
@-webkit-keyframes swell {
    0%, 100% {transform: translate3d(0, -25px, 0);}
    50% {transform: translate3d(0, 5px, 0);}
}
@keyframes swell {
    0%, 100% {transform: translate3d(0, -25px, 0);}
    50% {transform: translate3d(0, 5px, 0);}
}

.bottle {
    background: url(../img/bottle.svg) no-repeat;
    display: inline-block;
    width: 79px;
    height: 111px;
    position: absolute;
    top: -200px;
    left: 0;
    animation: bottle2 3s ease none infinite;
    /* animation-name: wave2;
    animation-duration: 3s;
    animation-fill-mode: inherit;
    animation-timing-function: ease;
    animation-iteration-count : infinite */
}
@keyframes bottle2 {
    0% {top: -100px; transform:rotate(0);}
    50% {top: -150px; transform: rotate(-2deg);}
    100% {top: -100px; transform:rotate(0);}
}


/* content3 */
#content3 {
    background:linear-gradient(to bottom, #76b2c5, #6c7fde);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;  
}
.bottle_btn {
    width: 300px;
    height: 100px;
    position: relative;
    /* top: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#content3 .bottle {
    background-position: center;
    animation: bottle3 3s ease backwards infinite;
    width: 300px;
    left: 0%;
    top: 0;
    transform: rotate(-26deg);
    text-align: center;
}
@keyframes bottle3 {
    0% {transform: rotate(-41deg);}
    50% {transform: rotate(-11deg);}
    100% {transform: rotate(-41deg);}
}

.click {
    font-size: 30px;
    font-size: 30px;
    margin: 130px 0 0 10px;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    border-radius: 10px;
    position: relative;
}
.click:after {
    content: '';
    position: absolute;
    left: 50px;
    top: -10px;
    width: 0px;
    height: 0px;
    border-bottom:10px solid rgba(255,255,255,0.5);
    border-right: 10px solid transparent;
    border-left: 10px solid  transparent;
}
#content3 .inner {
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0;
    position: absolute;
    top: -500px;
    transition: all 2s;
}
#content3 .inner.on {
    opacity: 1;
    top:100px;
    transition: all 2s;
}
#content3 h2 {
    font-size: 150px;
    color: #FFF;
    opacity: 0.5;
    position: relative;
}
.aboutBox {
    background: url(../img/content4/letterBg.png) no-repeat center;
    background-size: cover;
    width: 80%;
    height: 800px;
    font-size: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.close {
    cursor: pointer;
    display: inline-block;
}
.close i {
    font-size: 30px;
    color: #333;

}
.box1 {
    width: 100%;
    height: 40%;
    /* background: #FF0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 .thum {
    width: 250px;
    height: 250px;
    border: 1px solid #FFF;
}
.box1 p {
    font-size: 40px;
    margin-left: 20px;
}
.box2 {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.box2 > div {
    width: 47%;
}
.box2 > div:last-child {
    width: 100%;
}
.box2 p {
    padding-left: 30px;
    margin-top: 20px;
}
.box2 .EDUCATION {
    margin-right: 6%;
    height: 40%;
}
.box2 .LICENSE {
    height: 40%;
}
.box2 .SKILL {
    height: 60%;
}
.SKILL > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.SKILL > div > div {
    width: 60px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.SKILL div div img {
    width: 100%;
}
.number {
    font-size: 30px;
    height: 0;
}

/* content4 */
#content4 {
    background:linear-gradient(to bottom, #6c7fde, #25d7ec);
    /* position: relative; */
    height: 100vh;

}
.contact_wrap {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}
#cotnent4 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.bg .contact_layer {
    position: absolute;
    left: 0;
    top: 0;
}
.message {
    position: relative;
    left: 600px;
    top: 500px;
    width: 250px;
    height: 80px;
    font-size: 30px;
    border-radius: 20px;
    background: #FFF;
    line-height: 80px;
    text-align: center;
}