@charset "utf-8";

@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yg-jalnan';
}
body {
    min-width: 1200px;
    color: #fff;
}
ul, li { list-style: none;}
a { display: block; color:#FFF; text-decoration: none;}

.inner { width: 1200px; margin: 0 auto;}

/* 레이아웃 */
#header {
    width: 100%;
    height: 0;
}
#content1, #content2, #content3, #content4, #content5, #content6 {
    width: 100%;
    height: 1100px;
}
#footer {
    width: 100%;
    height: 300px;
}


/* header */ 
#header .inner {
    display: flex;
}
.menu {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
}
.menu > ul {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu ul li {
    width: 100%;
    position: relative;
}
.menu ul li a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    padding: 10px;
    
}
.menu ul li a:hover {
    color: #bbb;
}
.sub_menu {
    display: none;
    position: absolute;
    left: 20px;
    top: 43px;
}
.menu .sub_menu a {
    font-size: 17px;
}

/* content1 */
#content1 {
    background: linear-gradient(to bottom, rgba(49,153,180,1), rgba(51, 8, 103, 1));
    overflow: hidden;
    position: relative;
}


/* swiper1 */
.swiper1.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper1 .swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper1 .swiper-slide img {
    display: block;
    /* width: 100%; */
    opacity: 60%;
}

.bg {
    position: relative;
    left: 0;
    top: 0 ;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

#content1 .inner {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    z-index: 2;
    transform: translate(-50%, 0);
    text-align: center;
}
#content1 .logo {
    width: 20%;
    margin-bottom: 160px;
}
#content1 .logo a {
    width: 100%;
    height: 280px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    text-indent: -9999px;
}
#content1 h2 {
    font-size: 60px;
}
#content1 p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
}
#content1 span {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    margin-top: 20px;

}

.contentbg {
    position: absolute;
    left: 0;
    bottom: -120px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.contentbg_layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.illust1 {
    background: url(../img/cont1/illust1.png) no-repeat ;
}
.grass1 {
    background: url(../img/cont1/grass1.png) no-repeat;
}
.grass2 {
    background: url(../img/cont1/grass2.png) no-repeat;
}

/* content2 */
#content2 {
    background: linear-gradient(to bottom, #2b1352, #330867);
    position: relative;
}
.contentbg_layer.culture {
    background: url(../img/cont2/bg.png) no-repeat;
}
.star {
    background: url(../img/cont1/star.png) no-repeat;
}
.star.position1 {
    left: 300px;
    top: 100px;
}
.star.position2 {
    left: 1300px;
    top: 300px;
}
.star.position3 {
    left: 1600px;
    top: 150px;
}
#content2 .inner {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0);
    z-index: 1;
}
#content2 h2, #content3 h2 {
    font-size: 80px;
    margin-bottom: 50px;
}
#content2 p {
    font-size: 36px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
#content2 p span {
    display: block;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 50px 0 100px;
}
.click a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
}
.button {
    display: flex;
}
.button a {
    background: #633ac4;
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 25px;
}
.youtube {
    margin: 30px 0;
}
.youtube iframe {
    width: 900px;
    height: 530px; 
}


/* content3 */
#content3 {
    background: linear-gradient(to bottom, #330867, #6633b8);
    position: relative;
}
.contentbg_layer.culture2 {
    background: url(../img/cont3/bg1.png) no-repeat;
}
.contentbg_layer.culture3{
    background: url(../img/cont3/bg2.png) no-repeat;
}
#content3 .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content3 h3 em {
    font-size: 72px;
    color: #f6bdc0 ;
}
.cont3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
.circle.img1 {
    background: url(../img/cont3/img1.jpg) no-repeat;
    background-size: cover;
}
.circle.img2 {
    background: url(../img/cont3/img2.jpg) no-repeat center;
    background-size: cover;
}
.circle.img3 {
    background: url(../img/cont3/img3.jpg) no-repeat;
    background-size: cover;
}
.circle.img4 {
    background: url(../img/cont3/img4.jpg) no-repeat;
    background-size: cover;
}
.circle.img5 {
    background: url(../img/cont3/img5.jpg) no-repeat center;
    background-size: cover;
}
.circle span {
    font-size: 50px;
}
.circle:hover {
    transform: scale(1.2);
    transition: all .5s;
    background: rgba(0,0,0,0.5);
}

/* content4 */
#content4 {
    background: linear-gradient(to bottom, #6633b8, #af6874);
}
#content4 .inner > div {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
#content4 h2 {
    font-size: 80px;
}


/* left_top swiper */
.leftwrap.swiper-container {
    width: 100%;
    height: 100%;
}

.leftwrap .swiper-slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftwrap .swiper-slide img {
    display: block;
    width: 100%;
}



.left {
    padding: 20px;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background: #c2a5cd;
}
.left .left {
    height: 100%;
}
.left_layer h4 {
    font-size: 45px;
    line-height: 50px;
    text-align: right;
}
.left_layer h4 span {
    display: block;
    font-size: 20px;
}
.left .left_bottom {
    height: 50%;
    position: relative;
}
.left_bottom .bottom_layer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bottom_layer img {
    width: 100%;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.swiper-slide em {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100px;
    display: block;
    opacity: .5;

}
/* cont4swiper */
.cont4swiper.swiper-container {
    width: 100%;
    height: 70%;
}
.cont4swiper .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    /* display: flex; */
}
.cont4swiper .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.cont4swiper .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}
.cont4swiper .swiper-slide .subtitle {
    font-size: 21px;
}
.cont4swiper .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}


/* content5 */
#content5 {
    background: #af6874;
}
.tab_menu {
    display: flex;
}
.tab_btn {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tab_btn a {
    font-size: 36px;
    color: #FFF;
    border: 0;
    text-align: center;
    margin-top: 20px;
}
.tab_btn a.active {
    font-weight: bold;
} 
.tab_cont {
    width: 80%;
}



/* 가로스크롤 */
/* hide scrollbar */
/* ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
} */
#tangible_culture, #intangible_culture, #etc  {
    overflow: hidden;
    height: 100vh;
}
.horizontal-scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    transform: rotate(-90deg) translate3d(0,-100vh,0);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 80vw;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-bottom: 10rem;
}
.img-wrapper {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    transform-origin: 50% 50%;
    position: relative;
}
.img-wrapper p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
}
.img-wrapper.up {
    left: 150px;
}
.img-wrapper.down {
    right: 150px;
}
.tab_cont > div {
    display: none;
}
.tab_cont > div.active {
    display: block;
}

/* content6 */
#content6 {
    background: linear-gradient(to bottom, #af6874, #d2d8bc);
}

