@charset "utf-8";

/* CSS Document */

.container {  width: 100%;  min-height: 710px; }
.content {  width: 100%;  position: relative; }

/* header */
header {  width: 100%;  background: #000; justify-content: center;  overflow: hidden; }
header > div {  float: left; height: 70px; }
header > div a:hover, header > div a.on  {border-bottom: 1px solid #fff;}
header .logo {  width: 15%; }
header .logo a { background: url(../images/logo-white.png) no-repeat center; background-size: contain; display: block; width: 100%; height: 80%; margin-top: 7px; }
header .logo a:hover { border-bottom: 0;}
header .logo a img {  margin-top: 12.5px;  width: 30%;  height: 45px; }
header .menu {  width: 70%;  line-height: 70px;  text-align: center; }
header .menu a {  text-decoration: none;  font-size: 1.75rem;  color: #fff; }
header .gnb {  width: 15%;  line-height: 70px;  text-align: center; }
header .gnb a { font-size: 1.1rem;  color: #fff; }
header .gnb a.letter-spacing { letter-spacing: -1px;}

header .button-group { display: inline; width: 7%; position: absolute; left:33%; }
header .button-group button{ height: auto; padding: 5px;}
header .button-group button:hover { background: #eee; color: #333; cursor: auto; }

.button-group.opacity { opacity: 0; }


/* card */
.card {  width: 70%;  margin: 0 auto;  padding: 3% 40px;  height: 100%;  box-sizing: border-box;  min-height: 560px; }
.card.cty {  width: 45%; }
.card .card-header {  text-align: center;  overflow: hidden; }
.card .card-header .title {  display: block;  position: relative;  font-size: 2rem;  text-align: center;  color: #333;  padding-bottom: 40px;  margin-bottom: 60px; }
.card .card-header .title.bold {  font-size: 2.75rem;  font-weight: 600; }
.card .card-header .title.line { position: relative; }
.card .card-header .title.line:after {  content: '';  width: 30px;  height: 4px;  background: #ddd;  position: absolute;  top: 80%;  left: 50%; transform: translateX(-50%); }
.card .card-body {  text-align: center; }

/* button-group */
.button-group {  width: 100%;  text-align: center; }
.button-group button {  cursor:pointer; background: #eee;  font-size: 1rem;  border: none;  padding: 9.5px;  height: 42px;  min-width: 120px; }
.button-group a {background:#fff; border: 1px solid #ddd; padding: 10px 15px; border-radius: 20px; }
.button-group button:hover, .button-group a:hover {  background: #555;  color: #fff;}

/* input-group */
.input-group {  width: 100%;  margin-bottom: 12px;  overflow: hidden;  text-align: left; }
.input-group label {  display: block;  font-size: 1.2rem;  margin-bottom: 10px; }
.input-group input,
.input-group select,
.input-group textarea {  width: 100%;  padding: 5px;  height: 42px;  border: 1px solid #ccc;  font-size: 1rem;  margin-bottom: 6px;  box-sizing: border-box; }
.input-group .input-append {  width: 80%;  float: left;  box-sizing: border-box; }
.input-group .input-append + .button-group {  width: 20%;  float: left;  box-sizing: border-box; }
.input-group .input-append + .button-group button {  width: 95%;  margin-left: 5%;  box-sizing: border-box; }

/* footer */
footer {  display: block;  width: 100%;  height: 180px;  background: #ccc; }
footer .sns {  box-sizing:border-box; border-bottom: 1px solid #eee; }
footer .sns ul {  overflow: hidden;  width: 70%;  margin: 0 auto; }
footer .sns ul li {  float: right;  padding: 10px; }
footer .sns ul li a:hover {  opacity: 0.7; transition: opacity 0.2s; }
footer .sns ul li a.ins {  text-align: right;  background: url(../images/icon/instagram.png) no-repeat center;  background-size: 100%;  display: block;  width: 25px;  height: 25px; }
footer .sns ul li a.blog {  text-align: right;  background: url(../images/icon/blog.png) no-repeat center;  background-size: 100%;  display: block;  width: 25px;  height: 25px; }
footer .sns ul li a.kakao {  text-align: right;  background: url(../images/icon/kakaotalk.png) no-repeat center;  background-size: 100%;  display: block;  width: 25px;  height: 25px; }
footer .row { width: 70%; margin: 0 auto; padding: 17px 0; justify-content: space-between;}
footer address p {  font-size: 0.825rem;  line-height: 20px; }
footer .footer-logo { width: 10%;  height: 90px;  background: url(../images/logo-black.png) no-repeat center;  background-size: contain; }

/* bot-title */
.box-title {  position: absolute;  left: 0;  bottom: 0;  display: block;  background: #eee;  width: 100%;  height: 100px;  line-height: 100px;  font-size: 1.25rem;  opacity: 0; }

/* post-box */
.post-box { position: relative; box-sizing: border-box;  margin-right: -1px;  margin-bottom: -1px;  display: flex;  justify-content: center;  align-items: center;  height: 350px;  border: 1px solid #ddd;  position: relative;  overflow: hidden; }
.post-box:hover:before {  content: '';  width: 100%;  height: 100%;  position: absolute;  left: 0;  top: 0;  background: rgba(51, 51, 51, 0.7); }
.post-box:hover button {  border: 0;  opacity: 1;  cursor: pointer; }
.post-box img {  width: 100%; }

/* visual */
.sub-visual { height: 50vh; }
.sub-visual .card { min-height: auto; display: flex; flex-direction: column; justify-content: center;}
.sub-visual .card .card-header .title { margin-bottom: 20px;}
.sub-visual .card .card-header span { display: inline-block; margin-bottom: 15px; width: 70px; height: 70px; background: #555; border-radius: 50%;}
.sub-visual .card .card-header span img {position: relative; top: 8px;}

/* pagenation */ 
.page-info { font-size: 1rem;}
.page-info.line{position: relative;}
.page-info.line:before {position: absolute; right: 78px; top: -1px; content: ''; width: 1.5px; height: 15px; background: #555;}
.pagenation {  width: 100%;  margin-top: 30px;  text-align: center; }
.page {  margin: 0 10px; }
.page-button a,
.page strong {  display: inline-block;  width: 25px;  height: 25px;  border: 1px solid #ddd;  text-indent: -9999px;  line-height: 26px; }
.page strong {  width: 15px;  height: 20px;  background: none;  text-indent: 0;  margin: 0;  border: 0;  cursor: pointer; }
.page-wrap strong:hover {  border-bottom: 1px solid #555; }
.page-wrap strong.on {  border-bottom: 1px solid #555;  font-weight: 500; }
.prev-group .prev {  background: url(../images/icon/pagenation/pagenation-left.png) no-repeat center; }
.prev-group .first {  background: url(../images/icon/pagenation/pagenation-first.png) no-repeat center; }
.next-group .next {  background: url(../images/icon/pagenation/pagenation-right.png) no-repeat center; }
.next-group .last {  background: url(../images/icon/pagenation/pagenation-last.png) no-repeat center; }


.m-gnb, .button-group.d-n { display: none;}
.shop-list .card .card-body .button-group { margin-bottom: 80px;}
.icon {  width: 25px;  height: 25px;  display: inline-block;  margin-right: 20px; }
.tag-box span {  padding: 5px 10px;  border: 1px solid #ddd;  border-radius: 50px;  color: #555;  font-style: italic; }





/* 미디어쿼리 */
@media (max-width: 1280px) {
  .card {min-height: 500px;} 
  .card, footer .sns ul, footer .row { width: 90%;}
  
  .input-group .input-append { width: 70%;  }
  .input-group .input-append + .button-group { width: 30%; }


  .sub-visual { height: 45vh;}
}


@media (max-width: 992px) {
  header .logo a { height: 70%;}
  header .menu a {font-size: 1.5rem;}
  header .gnb a { font-size: 0.9rem;}
  
  .card { width:100%; min-height: 450px;} 
  .card .card-header .title.line:after { top: 50%; height: 2px; }

  .card.cty {    width: 100%;  }
  .card .card-header .info {    font-size: 0.825rem;  }
  .card .card-header .title {    font-size: 1.5rem;    margin-bottom: 0; }
  .card .card-header .title.bold {    font-size: 2rem;  }
  footer .footer-logo {    display: none;  }

  .input-group label {    font-size: 0.925rem;  }
  .input-group input,
  .input-group select,
  .input-group textarea {    font-size: 0.925rem;    padding: 3.5px;  }
  .input-group .input-append {    width: 55%;  }
  .input-group .input-append + .button-group {    width: 45%;  }
  .input-group .input-append + .button-group button {    font-size: 0.925rem;  }

  .button-group button a { font-size: 0.9rem;}


  .tag-box span { font-size: 0.8rem;}
  .post-box { margin-bottom: 10px; height: 280px;}
  .post-box:nth-child(2n) { margin-right: 0;}
  .post-box:nth-child(5),
  .post-box:nth-child(6) { display: none;}

   .box-title { opacity: 1; height: 70px; line-height: 70px; font-size: 1rem;}

   .sub-visual { height: 30vh;}
   .sub-visual .card .card-header span { width: 55px; height: 55px;}

   .page-info { font-size: 0.85rem;}
   .page-info.line:before { right: 68px;}
}
@media (max-width: 768px) {

  header .logo { width: 20%;}
  header .logo a { height: 55%; margin-top: 15px;
  }
  header .menu { width: 60%;}
  header .gnb { width: 20%;}
  header .menu a { font-size: 1.1rem;}
  .icon { width: 20px; height: 20px;}
  .card .card-header .title { margin-top: 30px;}
  .post-box { margin-right: 0;}

  .sub-visual .card .card-header .title { margin-top: 0;}

  .pagenation { margin-bottom: 30px;}

}

@media (max-width: 572px) {

  header .logo { width:  30%;}
  header .menu { width: 40%; }
  header .menu a { font-size: 1rem;}
  header .logo a { width: 80%; }
  header .m-gnb { display: block; width: 30%; position: relative; line-height: 70px;}
  header .m-gnb button { text-indent:-9999px; color: #fff; width: 25px; height: 25px; background: url(../images/icon/m-gnb-icon.png) no-repeat; margin-left: 60%; }
  header .gnb { z-index: 1000; position: absolute; right: 10px; top: 60px; width: 14%; line-height: normal; height: 60px; background: #ddd; }
  header .gnb a { display: block; width: 100%; font-size: 0.8rem; padding: 8px; box-sizing: border-box; color:#555; }
  header > div a:hover, header > div a.on { border-bottom: 0; }
  header .gnb a.mr-10 { margin-right: 0;}

  .card .card-header .title { font-size: 1.25rem;}
  .card .card-header .title.bold { font-size: 1.75rem;}

  .tag-box span { font-size: 0.5rem; display: none;}
  .post-box { margin-right: 0;}
  .M-login { width: 20px; height: 20px; background: url(../images/icon/login.png) no-repeat; background-size: contain; display: inline-block; margin-top: 25px;}
  .icon { width: 15px; height: 15px;}


  .sub-visual { height: 25vh;}
  .sub-visual .card .card-header .title { margin-bottom: 0; padding: 0;}

  .shop-list .card .card-body .row { justify-content: center;}
}

@media (max-width: 425px) {
    footer { height: 200px;}
    footer .row { padding: 7px 0;}

}
@media (max-width: 320px) {
  .page-button a, .page strong { width: 20px; height: 20px;}
}
