@charset "utf-8";

.visual {   height: 90vh;  background: url(../images/visual-bg.png) no-repeat center;  background-size: cover; }

/* info */
.card .card-header .info-sub {  letter-spacing: 5px; font-size: 1rem; line-height: normal;}

/* history */
.history {  background: #555 url(../images/history-bg.png) no-repeat center;  background-size: cover; }
.history .card .card-body { padding-left: 50px ; position: relative;}
.history .card .card-body:after {  content: '';  width: 2px;  height: 350px;  background: #fff;  position: absolute;  left: 30px;  top: -26px; }
.history .card .card-body ul li { position: relative; font-size: 1.3rem;  margin-bottom: 15px; }
.history .card .card-body ul li:after { content: ''; position: absolute; left: -24px; top: 7px; background: #fff;
  border-radius: 50%;  width: 10px;  height: 10px; }
  .history .card .card-body ul:nth-child(2) li:nth-child(3):after { display: none;}
.history .card .card-body ul li.pl-55 {  padding-left: 55px; }

/* shopping */
.shopping .card .card-header .title { margin-bottom: 0;}
.shopping .card .card-body {  height: 450px; }
.shopping .card .card-body .shopping-slide .box-title a {display: block; width: 100%; }

/* swiper shopping */
.swiper.shopping-slide {  width: 100%;  height: 100%;  overflow: hidden; }
.swiper.shopping-slide .swiper-wrapper {  width: 100%;  height: 80%;  align-items: center;}
.swiper.shopping-slide .swiper-slide {  text-align: center;  font-size: 18px;  background: #fff;  height: 100%;  border: 1px solid #ddd;  position: relative;  box-sizing: border-box;  /* Center slide text vertically */  display: -webkit-box;  display: -ms-flexbox;  display: -webkit-flex;  display: flex;  -webkit-box-pack: center;
  -ms-flex-pack: center;  -webkit-justify-content: center;  justify-content: center;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  align-items: center; }
.swiper.shopping-slide .swiper-slide img {  display: block;  width: 100%;  height: 100%;  object-fit: cover; }
.swiper.shopping-slide .swiper-slide:hover:before {  content: '';  width: 100%;  height: 100%;
  background: rgba(51, 51, 51, 0.7);  position: absolute; }
.swiper.shopping-slide .swiper-slide:hover .box-title {  opacity: 1; }
.swiper.shopping-slide.swiper-container-horizontal > .swiper-scrollbar {  position: relative;  bottom: -25px; }

/* instagram */
.insta .card .card-header .title {display: inline-block; position:  relative;}
.insta .card .card-body .post-box:hover .box-title { opacity: 1;}

/* map */
.map .card .card-body iframe {  width: 100%;  height: 100%; }
.map .card .card-body .map-list { padding-left: 50px ; }
.map .card .card-body .map-list li {  font-size: 1.25rem;  display: flex;  align-items: center;  margin-bottom: 20px; }
.map .card .card-body .map-list li.sort {  align-items: flex-start; }
.map .card .card-body .map-list li .tag-box {  margin-left: 20px; }
.map .card .card-body .map-list li .icon.home { background: url(../images/icon/map-icon/map.svg) no-repeat; background-size: contain; }
.map .card .card-body .map-list li .icon.tel { background: url(../images/icon/map-icon/phone.svg) no-repeat; }
.map .card .card-body .map-list li .icon.time { background: url(../images/icon/map-icon/clock.svg) no-repeat; } 
.map .card .card-body .map-list li .icon.parking { background: url(../images/icon/map-icon/parking.svg) no-repeat; }
.map .card .card-body .map-list li .icon.bus { background: url(../images/icon/map-icon/bus.svg) no-repeat; }

/* consult */
.consult {  background: #f9f9f9; }
.consult .card .card-body .row.justify-content {  justify-content: space-evenly; }
.consult .card .card-body .row.justify-content a img { width: 100%; }
.consult .card .card-body .row.justify-content a p { font-size: 1rem;}



/* 미디어쿼리 */

@media (max-width: 1280px) {
  .visual { height: 70vh; }
  
  .map .card .card-body .map-list li { font-size: 1.1rem;}
  .map .card .card-body .map-list { padding-left: 30px ;}
}
@media (max-width: 992px) {
  .visual { height: 60vh; }
  
  /* .card {min-height: 400px;} */
  .history .card .card-body:after { height: 300px; top: -18px;}
  .history .card .card-body ul li { font-size: 1.1rem;}
  .history .card .card-body ul li:after { top: 4px;}
  
  .shopping .card .card-body { height: 400px;}
  .swiper.shopping-slide .swiper-slide { height: 100%;}

  .insta .card .card-header .title:before { left: -25%; width: 30px; height: 30px;}
  .insta .card .card-body .row { justify-content: center;}

  .map .card .card-body .map-list li { font-size: 1rem;}

  .consult .card .card-body .row.justify-content > div { width: 70px;}

}
@media (max-width: 768px) {
  .visual { height: 40vh; }
  
  .map .card .card-body .map-list { padding-left: 0;}
  .map .card .card-body .map-list li { margin-bottom: 10px;}


}
@media (max-width: 572px) {
  .card { min-height: auto; padding: 5% 40px; }
  .card .card-header .title { margin-top: 30px; }

  .info .card .card-body p:nth-child(2) { display: none;}
  .info .card .card-header .info-sub, .info .card .card-header .title.bold { display: none;}

  .shopping .card .card-body { height: 350px;}
  .shopping .card .card-body .shopping-slide .box-title { opacity: 1; height:60px; line-height: 60px;}


  .history .card .card-body { padding-left: 0;}
  .history .card .card-body ul li { font-size: 1rem;}
  .history .card .card-body ul li:after {  width: 5px; height: 5px;}
  .history .card .card-body:after { display: none;}
  .history .card .card-body ul li.pl-55 {padding-left: 44px;}

  .consult .card .card-body p { letter-spacing: -1px;}
  .consult .card .card-body .row.justify-content > div { width: 55px;}

}

@media (max-width: 360px) {
  .card .card-header .title.bold { font-size: 1.5rem;}
    .consult .card .card-body .row.justify-content > div { width: 55px;}

}
