@charset "utf-8";

@media (max-width: 1280px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }

  /* visual */
  #visual {
    height: 50vh;
  }

  /* intro */
  .infoCont {
    padding: 20px 50px;
    letter-spacing: -1px;
  }
  .infoCont h3 {
    margin: 50px 0;
    font-size: 24px;
  }
  .infoCont div p,
  .historyCont ul li {
    font-size: 18px;
  }
  .historyCont h3 {
    margin-bottom: 50px;
    font-size: 24px;
  }
  .historyBox {
    background-size: cover;
  }

  /* shopping */
  #shopping {
    height: 70vh;
  }
  .swiper.shopping .swiper-slide:last-child {
    margin-right: 0;
  }
  .boxTitle {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }
  .shopping.swiper-container-horizontal > .swiper-scrollbar {
    bottom: -25px;
  }

  /* insta */
  #insta {
    height: 90vh;
  }
  .postBox {
    width: 270px;
    height: 270px;
  }
  .postGroup {
    width: 85%;
    margin: 0 auto;
  }
  .postGroup .postBox:last-child {
    display: none;
  }
  .instaBox .btnGroup a {
    padding: 15px 10px;
  }

  /* map */
  .mapCont ul li {
    font-size: 20px;
  }

  /* consult */
  #consult {
    height: 60vh;
  }
  .consultBox2 {
    width: 70%;
    padding: 30px 0;
  }
  .consultBox2 img {
    width: 70px;
    height: 70px;
  }
  .consultCont > p {
    font-size: 24px;
    line-height: 30px;
  }
  .mapCont ul {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
@media (max-width: 992px) {
  #visual {
    height: 40vh;
  }
  .postGroup {
    width: 100%;
    margin: 0;
  }
  .instaCont > div:first-child {
    padding: 0;
  }
  .mapCont ul li {
    font-size: 18px;
  }
  .mapCont .tagBox span {
    font-size: 14px;
  }

  #consult {
    height: 50vh;
  }
  .consultCont > p {
    line-height: 30px;
    margin: 30px 0;
  }
  .consultCont div a p {
    font-size: 16px;
  }
  .consultCont a {
    width: 70px;
    height: 70px;
  }
  .consultCont > p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 35px;
  }
  .tagBox {
    font-size: 13px;
    margin-left: 20px;
  }
  .instaBox .btnGroup a {
    width: 20%;
  }
  .postGroup {
    justify-content: center;
  }
  .postBox {
    margin-bottom: -1px;
    margin-right: -1px;
  }
  .postGroup .postBox:nth-child(3) {
    display: none;
  }
  .mapCont ul li {
    font-size: 16px;
  }

  .mapCont > div {
    flex-direction: column;
    height: 90%;
  }
  .mapCont iframe {
    width: 100%;
  }
  .mapCont div > ul {
    margin-top: 20px;
  }
  .mapCont div > ul li {
    margin-bottom: 0;
  }

  #consult {
    padding-top: 50px;
    height: 45vh;
  }

  .consultCont > p {
    font-size: 16px;
    margin: 20px 0;
  }
  .consultCont div a p {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 26px;
  }

  .infoCont h3,
  .historyCont h3 {
    font-size: 17px;
  }
  .infoCont div p,
  .historyCont ul li {
    font-size: 15px;
  }
  .infoCont {
    padding: 20px 0;
  }
  .historyCont > div {
    padding-left: 0;
  }
  .tagBox {
    line-height: 30px;
  }

  .historyCont > div:after {
    left: 4px;
    height: 335px;
  }
  .instaBox .btnGroup a {
    width: 26%;
  }
  #consult {
    height: 30vh;
  }
  .consultCont > p {
    display: none;
  }
  .consultCont > div {
    align-items: center;
    height: 80%;
  }
  .consultCont a {
    width: 60px;
    height: 60px;
  }
  .consultCont div a p {
    margin-top: 5px;
    font-size: 14px;
  }
}
