@charset "utf-8";

@media(max-width:1280px){
    #cont {
        padding: 50px 0;
    }
    .content {
        padding: 0 50px;
        height: 70vh;
    }
    .content h3 {
        font-size: 30px;
        background-size: contain;
    }
    .btnGroup .btn-white {
        padding: 15px 10px;
    }
    .tabBtn { 
        margin: 100px;
    }
    .box {
        width: 350px;
        height: 350px;
    }
    .shoppingTitle {
        height:60px;
        line-height: 60px;
        font-size: 20px;
    }
    .tabBtn a {
        font-size: 20px;
    }

}
@media(max-width:992px){
    
}
@media(max-width:768px){
    
}
@media(max-width:576px){
    
}
