@charset "utf-8";

#title {
  background: url(../images/mypageBg.png) no-repeat center;
}
.titleBox .icon {
  background: url(../images/ICON/mypage.png) no-repeat center;
}
#cont {
  height: auto;
}
.mypageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 100px 0;
}
.mypageBox h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.myPageCont {
  width: 80%;
  margin: 30px auto;
}
.info .thum {
  width: 30%;
  padding-right: 10px;
}
.thum .imgBox {
  height: 300px;
  background: url(../images/logo_black.png) no-repeat;
  background-size: contain;
  width: 100%;
}
.btnGroup > div {
  display: none;
}
.thum button {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}
.btnGroup .upload,
.btnGroup .cancle {
  background: #555;
  color: #fff;
  border: 0;
}
.reloadBox.on,
.uploadBox.on {
  display: block;
}

.info .infoCont {
  width: 70%;
}
.infoList {
  width: 100%;
}

.infoTitle,
.orderTitle {
  background: #ddd;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.infoList tr td,
.orderList tr td {
  padding: 5px 15px;
  line-height: 39px;
}
.infoList tr,
.orderList tr {
  border-bottom: 1px solid #ddd;
}
.infoList tr:last-child,
.orderList tr:last-child {
  border-bottom: 0;
}
.infoList tr td,
.orderList tr td {
  border-right: 1px solid #ddd;
}
.infoList tr td:last-child,
.orderList tr td:last-child {
  border-right: 0;
}

.order {
  margin-top: 50px;
}
.orderCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.orderList {
  width: 70%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.orderProcess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  width: 30%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.orderProcess img {
  width: 40%;
}
.orderProcess p {
  margin-top: 20px;
}
.listBox .row {
  justify-content: space-around;
}

.inputBox span {
  padding: 0 10px;
}
.addressInput span {
  margin-bottom: 10px;
  width: 100%;
}

.addressInput button {
  width: 18%;
  border: 0;
  height: 39px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1px;
}

.inputBox.addressInput span:first-child {
  display: inline-block;
  width: 50%;
}

.inputBox {
  display: none;
}

.inputBox.on {
  display: block;
}
table td em.on {
  display: none;
}
