@charset "utf-8";

nav.active a {
  border-bottom: 1px solid #fff;
}
#title {
  background: #555 url(../images/shopping.png) no-repeat center;
}
#title .icon {
  background: url(../images/ICON/shoppingIcon.png) no-repeat center bottom;
  background-size: contain;
}
#cont {
  height: auto;
}
.content {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 80vh;
  background: url(../images/shopping_contentBg.png) no-repeat bottom;
}
.content h3 {
  font-size: 60px;
  text-align: right;
  padding-top: 50px;
}
.content h3 span {
  font-weight: 600;
}
.btnGroup {
  width: 25%;
}
.btnGroup a {
  border-radius: 30px;
}
.content .btnGroup .btn-white {
  margin-bottom: 20px;
  font-size: 20px;
}

.tabMenu {
  width: 100%;
}
.tabBtn {
  text-align: center;
  margin: 150px 0 100px;
}
.tabBtn a {
  font-size: 26px;
  display: inline-block;
  border: 1px solid #555;
  padding: 15px 30px;
  margin: 0 5px;
}

.tabBtn a.active,
.tabBtn a:hover {
  background: #555;
  color: #fff;
}
.tabCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  width: 410px;
  height: 410px;
  border: 1px solid #555;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.box:hover .boxTitle {
  opacity: 1;
}
.box img {
  display: block;
  width: 100%;
}

/* 상세페이지 레이어팝업 */
.detail {
  display: none;
  background: #fff;
  width: 70%;
  height: 75%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #333;
  padding: 20px;
}
.detailBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail_title {
  font-size: 30px;
  padding: 20px 0;
  display: flex;
  /* color: #555; */
  /* justify-content: center; */
  /* text-align: center; */
}
.detail_title span {
  display: inline-block;
  width: 10px;
  height: 90%;
  background: #ddd;
  margin: 0 10px;
}

.detail_cont + p {
  font-size: 14px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.detail_cont + p .icon {
  background: url(../images/ICON/info-circle-gray.png) no-repeat;
  margin-right: 5px;
  margin-top: -5px;
}
.detail_cont {
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}
.detail_cont > div {
  width: 600px;
  height: 600px;
  position: relative;
}
.detail_cont p {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 5;
}
.detail_cont .iconBox {
  display: flex;
  align-items: center;
  width: 25px;
}
.detail_cont img {
  display: block;
  width: 100%;
}
.imgBox {
  height: 90%;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.imgBox:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #fff;
}
.detail_cont .icon {
  background: url(../images/ICON/arrow-right.png) no-repeat;
  background-size: contain;
  margin-right: 0;
}
.iconBox {
  height: 100%;
}
