@charset "utf-8";

/* 레이아웃 */
body {background:url("../img/header_bg.jpg") repeat-x center top;}
#header {}
#nav {background:#f6fdff;}
#title {background:#eaf7fd;}
#contents .container {border-left:1px solid #DBDBDB; border-right:1px solid #DBDBDB;}
#cont_left {float:left;width:250px;}
#cont_center {min-height:1300px; overflow:hidden; margin-right:250px;margin-left:250px; border-left:1px solid #DBDBDB; border-right:1px solid #DBDBDB;}
#cont_right {position:absolute;right:0px;top:0px;width:250px;}
#footer {border-top:1px solid #DBDBDB;}


/* 컨테이너 */
.container {position:relative;width:1200px;margin:0 auto;/*background:rgba(0,0,0,0.3)*/}

/* 헤더 */
.header {height:327px;}
.header .header_menu {text-align:right;}
.header .header_menu a {color:#FFF;padding:8px 0 6px 10px;display:inline-block;transition: color 0.3s ease;font-family: 'Abel', sans-serif;font-size:15px;}
.header .header_menu a:hover {color:#CCC;}

.header .header_tit {text-align:center;text-transform:uppercase;margin-top:55px;font-family: 'Abel', sans-serif; font-size:15px;}
.header .header_tit h1 {transition:box-shadow 0.25s ease-in-out; font-size:30px;color:#FFF;background:#51b0dc;display:inline-block;padding: 5px 30px;letter-spacing:2px;font-weight:900;}
.header .header_tit a {transition:box-shadow 0.25s ease-in-out; color:#FFF;background:#4a9abf;font-size:16px; padding:10px 20px; display:inline-block;margin-top:-7px;}
.header .header_tit h1:hover {box-shadow:inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;}
.header .header_tit a:hover {box-shadow:0 0 0 5px rgba(75,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;}

.header .header_icon {text-align:center;margin-top:40px;padding-bottom:45px;}
.header .header_icon li {display:inline;margin:0 5px;}
.header .header_icon li a {position:relative;display:inline-block;background-color:#3192bf;border-radius:50%;width:60px;height:60px;color:#FFF;font-size:35px;line-height:60px;}
.header .header_icon li a span {transition:all 0.3s ease;opacity:0;position:absolute;left:50%;top:-40px;font-size:12px;line-height:1.6;background:#3192bf;transform:translateX(-50%);padding:3px 9px;border-radius:6px 0;}
.header .header_icon li a span:before {content:'';margin-left:-5px;position:absolute;left:50%;bottom:-5px;border-top:5px solid #3192bf;border-left:5px solid transparent;border-right:5px solid transparent;}
.header .header_icon li a:hover {box-shadow:0 0 0 3px rgba(75,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;}
.header .header_icon li a:hover span {opacity:1;top:-33px;}

/* 전체메뉴 */
.nav {overflow:hidden;padding:25px 0;display:none;}
.nav > div {float:left;width:40%;}
.nav > div:last-child {width:20%;}
.nav > div ol {overflow:hidden;}
.nav > div li {float:left;width:50%;position:relative;padding-left:8px;box-sizing:border-box;}
.nav > div:last-child li {width:100%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; font-weight: bold; margin-bottom: 4px;}
.nav > div li:before {content:'';width:3px; height:3px; background-color:#25a2d0; border-radius:50%;position:absolute;left:0px;top:8px;}
.nav > div li a {position:relative;}
.nav > div li a:after {display:inline-block; content: ''; width: 0; height: 1px; position:absolute;bottom:0px; left:0px; background-color:#25aad0; transition: all 0.2s ease-out;}
.nav > div li:hover a:after {width: 100%;}

/* 타이틀 */
.title {text-align:center;position:relative;}
.title h2 {font-family: 'Nanum Brush Script', cursive; font-size:39px; color: #0093bd; padding: 5px 0;}
.title .btn {position:absolute; right:0px; top:5px; width:60px; height:60px; background:#3192bf; color:#FFF; font-size: 35px; border-radius: 50%; line-height:60px; transition: all 0.3s ease;}
.title .btn:hover {box-shadow: 0 0 0 3px rgba(71,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;}

/* 컨텐츠 */
.column {padding: 15px; border-bottom:1px solid #DBDBDB;}
.column .col_tit {font-size:20px; color:#2f7fa6; padding-bottom:5px;}
.column .col_desc {border-bottom:1px dashed #DBDBDB; padding-bottom:15px; margin-bottom:15px; color:#878787; line-height:18px;}

.column col1 {}
.column col2 {}
.col3 {border-bottom:0;}
.column col4 {}
.column col5 {}
.col6 {border-bottom:0;}
.column col7 {}
.column col8 {}
.col9 {border-bottom:0;}

/* 메뉴 */
.menu {}
.menu li {position:relative; }
.menu li:hover {}
.menu li a {color:#878787;font-size:16px; display:block;padding:10px; border-bottom:1px solid #DBDBDB;transition:box-shadow 0.34s ease, background 0.34s ease;}
.menu li a i {position:absolute;right:10px;top:15px;}

.menu li a:hover{background:rgba(36,130,174,0.9);color:#FFF; box-shadow: inset 180px 0 0 0 rgba(36,130,174,0.7);  }


/* 게시판1 */
.notice1 {position:relative;}
.notice1 h5 {font-size:14px; color:#2f7fa6; padding-bottom:5px;}
.notice1 li {padding-left:8px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;position:relative;}
.notice1 li:before {content:'';width:3px; height:3px; background:#449ce2; border-radius:50%;position:absolute;left:0;top:8px;}
.notice1 .more {position:absolute; right:0px; top:5px; font-size:8px; color:#777;}

 /* 게시판2 */
.notice2 {position:relative;}
.notice2 h5 {font-size:14px; color:#2f7fa6; padding-bottom:5px;}
.notice2 li {padding-bottom: 5px;padding-left:8px; position:relative; overflow:hidden; text-overflow:ellipsis; display: -webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;}
.notice2 li:before {content:''; width:3px; height:3px; border-radius:50%; background:#449ce2; position:absolute; left:0px; top:8px;}
.notice2 .more {position:absolute; right:0px; top:5px; font-size:8px; color:#777;}

/* blog1 */
.blog1 img {width:100%;}
.blog1 .img-retina {display:none;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx) {
        .blog1 .img-retina {display: initial;}
        .blog1 .img-normal {display: none;}
}

/* blog2 */
.blog2 h5 {color:#FFF; text-align:center; padding: 30px 30px; }
.blog2 p {padding-top:5px;}
.blog2 .img-retina {background-image:url("../img/blog3_@1.jpg"); background-size:cover; }

@media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        .blog2 .img-retina  {background-image:url("../img/blog3_@2.jpg");}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-pixel-ratio: 3),
        only screen and (min-resolution: 3dppx) {
        .blog2 .img-retina  {background-image:url("../img/blog3_@3.jpg");}
}

/* 이미지 슬라이드 */
.slider figure {position:relative;}
.slider figcaption {position:absolute; left:0px; bottom:0px; background:rgba(0,0,0,0.5); width:100%; font-size:18px; color:#FFF; padding:20px; box-sizing:border-box;}
.slider figcaption em {transform:translateX(50px); transition: all 0.84s ease; opacity:0; display:block; font-weight:blod; font-size:28px; font-family: 'Abel', sans-serif; text-transform:uppercase;}
.slider figcaption span {transform:translateX(50px); transition: all 0.84s 0.2s ease; opacity:0; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.slider .slick-active figcaption em {opacity:1; transform:translateX(0px);}
.slider .slick-active figcaption span {opacity:1; transform:translateX(0px);}

.slider .slick-dots {display:block; width:100%; text-align:center;}
.slider .slick-dots li {display:inline-block; width:15px; height: 15px; margin:5px; }
.slider .slick-dots li button {font-size:0; line-height:0; display:block; width:15px; height:15px; cursor:pointer; background:#5dbfeb; border-radius:50%;}

.slider .slick-dots li.slick-active button {background:#2b91c8;}
.slider .slick-prev { font:normal normal normal 14px/1 FontAwesome; text-indent:-9999px; display:inline-block;position:absolute; left:0px; bottom:0px; z-index:1000; width:30px; height:30px;}
.slider .slick-next { font:normal normal normal 14px/1 FontAwesome; text-indent:-9999px; display:inline-block;position:absolute; right:0px; bottom:0px; z-index:1000; width:30px; height:30px;}
.slider .slick-prev::before {position:absolute; left:9px; top: 8px; content:"\f053"; color:#5dbfeb; text-indent:0; }
.slider .slick-next::before {position:absolute; left:9px; top: 8px; content:"\f054"; color:#5dbfeb; text-indent:0; }

/* 라이트박스 */
.square a {position:relative; float:left; width:19%; margin:0.5%; overflow:hidden;}
.square a img {width:100%; display:block;}
.square a em {background:rgba(0,0,0,0.77); color:#FFF; width:100%; text-align:center; position:absolute;left:0px; bottom:-30px; opacity:1; transition:all 0.5s ease;}
.square a:hover em {bottom:0; background:rgba(0,0,0,0.57);}
.square a:nth-child(1):hover img {filter: blur(2px);}
.square a:nth-child(2):hover img {filter: brightness(50%);}
.square a:nth-child(3):hover img {filter: contrast(10%);}
.square a:nth-child(4):hover img {filter: grayscale(100%);}
.square a:nth-child(5):hover img {filter: hue-rotate(120deg);}
.square a:nth-child(6):hover img {filter: invert(100%);}
.square a:nth-child(7):hover img {filter: opacity(10%);}
.square a:nth-child(8):hover img {filter: saturate(10%);}
.square a:nth-child(9):hover img {filter: sepia(120%);}
.square a:nth-child(10):hover img {filter: sepia(120%) hue-rotate(120deg);} /* 혼합가능 */

/* 비디오 */
.video {width:100%; position:relative; padding-bottom:56.25%;}
.video iframe {position:absolute; width:100%; height:100%;}

/* 푸터 */
.footer {text-align:center; padding:30px 50px;}
.footer li {display:inline; padding: 0 7px 0 10px; white-space:nowrap; position:relative; }
.footer li:before {content:''; width:1px; height:12px; background:#DBDBDB; position:absolute; left:0px; top:0px; }
.footer li:first-child:before {width:0;}
.footer address {padding-top:15px;}

/* 사이드 effect1 */
.side1 {position:relative; perspective:600px; display:block;}
.side1 .front {transform-style:preserve-3d; transform: rotateY(0deg); transition:all 0.5s ease-in-out; backface-visibility:hidden;  }
.side1 .back {transform-style:preserve-3d; transform: rotateY(-180deg);  transition:all 0.5s ease-in-out; backface-visibility:hidden; position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:-1; color:#FFF; background:#4038dc;}
.side1:hover .front {transform:rotateY(180deg);}
.side1:hover .back {transform:rotateY(0deg); z-index:1;}
.side1 .back i {position:absolute;left:50%;top:50%; transform:translate(-50%,-50%); font-size:60px;}

/* 사이드 effect2 */
.side2 {position:relative; perspective:600px; display:block;}
.side2 .front {transform-style:preserve-3d; transform: rotateY(0deg); transition:all 0.5s ease-in-out;  backface-visibility:hidden;}
.side2 .back {position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:-1; transform-style:preserve-3d; transform: rotateY(-180deg); transition:all 0.5s ease-in-out;  backface-visibility:hidden;}

.side2 .front figcaption {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%) translateZ(100px); display:block; text-align:center;}
.side2 .back figcaption {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%) translateZ(100px);display:block; text-align:center;}

.side2 figcaption {width:60%;}
.side2 figcaption {color:#FFF;font-size:20px; font-family:'Abel';font-weight:blod; background:rgba(0,0,0,0.4); padding:3px 10px;}
.side2:hover .front {transform:rotateY(180deg);}
.side2:hover .back {transform:rotateY(0deg); z-index:1;}

/* 사이드 effect3 */
.side3 {position:relative; overflow:hidden;}
.side3 figcaption {position:absolute; left:50%; top:50%; color:#FFF; text-align:center; opacity:0; text-transform:uppercase; transition: all 0.3s ease; transform:translate(350%, -50%) rotate(180deg);}
.side3 figcaption:after {content:''; width:100px; height:100px; background:#000; border-radius:50%; position:absolute; left:50%; top:50%; z-index:-1; transform:translate(-50%,-50%); }
.side3 figcaption h3 {font-size:16px;}
.side3 figcaption em {display:block; font-weight:bold;}
.side3 img {display:block; transition: all 0.3s ease;}
.side3:hover img {opacity:0.4;}
.side3:hover figcaption {transform:translate(-50%, -50%) rotate(0deg); opacity:1;}




/* 미디어 쿼리 */
/* 화면 너비 0~ 1220px */
@media (max-width:1220px) {
	.container {width:100%}
	.row {padding:0 15px;}
	.title .btn {right:5px;}
	#contents .container {border:0;}

	.square a {width:24%;}
	.square a:nth-child(5n) {display:none;}

}

/* 화면 너비 0~ 1024px */
@media (max-width:1024px) {
	.square a {width:32.333333%;}
	.square a:nth-child(5) {display:block;}
}

/* 화면 너비 0~ 960px */
@media (max-width:960px) {
	#cont_right {position: static; width:100%; border-top:1px solid #DBDBDB;}
	#cont_center {margin-right:0;border-right:0;}
	
	.nav > div {float:none; width:100%;}
	.nav > div:last-child {width:100%;}
	.nav > div li {width:33.33333%;}
	.nav > div:last-child li {width:33.33333%;}
	.nav > div ol {margin-bottom:10px;}

	#cont_right {overflow:hidden;}
	#cont_right .column {float:left; width:33.3333%; box-sizing:border-box;}
	#cont_right .column.col7, .column.col8{border-right:1px solid #DBDBDB; border-bottom:0;}
	
	
}

/* 화면 너비 0~ 768px */
@media (max-width:768px) {
	#cont_left {float:none;width:100%;}
	#cont_center {margin-left:0;border-left:0;}
	

}

/* 화면 너비 0~ 600px */
@media (max-width:600px) {
	.header {height: auto;}
	.header .header_tit {display:none;}
	.header .header_icon {display:none;}
	.title .btn {display:none;}

	.nav > div li {width:50%;}
	.nav > div:last-child li {width:50%;}

	.col1 .col_tit,	.col1 .col_desc {display:none;}
	.col1 {padding:0;border-bottom:0;}
	.col1 .menu {overflow:hidden;}
	.col1 .menu li {float:left;width:33.33333%;border-right:1px solid #DBDBDB;box-sizing:border-box;}
	.col1 .menu li:nth-child(3n) {border-right:0;}
	.col1 .menu li a {color:#FFF;text-align:center;text-shadow: 0 0 5px rgba(0,0,0,0.7);}
	.col1 .menu li a i {display:none;}
	.col1 .menu li a:hover {box-shadow:none; background:rgba(36,130,174,0.3);}
	.col2 {background:#FFF;} 
	.col4 {border-top:1px solid #DBDBDB;}

	#cont_right .column {width:50%;}
	#cont_right .column.col8 {border-right:0;}
	#cont_right .column.col9 {display:none;}

	.slider figcaption {padding:10px;}
	.slider figcaption em {font-size:18px;}
	.slider figcaption span {font-size:10px;}

	.square a {width:49%;}
	.square a:nth-child(5) {display:none;}


}


/* 화면 너비 0~ 486px */
@media (max-width:486px) {

}

/* 화면 너비 0~ 320px */
@media (max-width:640px) {
	.nav > div li {width:100%;}
	.nav > div:last-child li {width:100%;}
	
	#cont_right .column {width:100%;}
	#cont_right .column.col7 {border-right:0;border-bottom:1px solid #DBDBDB;}

	.square a {width:100%;margin:0;}


}


